.list {
    display: flex;
    gap: 10px
}

form {
    display: flex;
    gap: 10px;





    input[type='checkbox'] {
        width: 30px;
        height: 15px;

    }

}

button {
    cursor: pointer;
}

input {
    cursor: pointer;

}